<div class="row">
    <div class="text-right">
        <form class="form-horizontal" method="post" action="/Login/LogOut">
            <input type="submit" value="Logout" class="btn btn-default" />
        </form>
    </div>
</div>
